@font-face {
  font-family: 'SimplonBP';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/SimplonBP-Light.ttf');    
}

@font-face {
  font-family: 'SimplonBP';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/SimplonBP-Regular.ttf');    
}


@font-face {
  font-family: 'SimplonBP';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/SimplonBP-Medium.ttf');
}
