.jc-bs3-container {
  width: 350px !important;
  margin: auto;  
}

.jconfirm.title {
  .jconfirm-title {
    display: block !important;
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 5px !important;
    margin-bottom: 10px !important;
  }
}

.jconfirm.addons {
  .container {
    width: 575px !important;
  }
  .jconfirm-box {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    .jconfirm-title-c {
      display: none;
    }
    .jconfirm-buttons {
      text-align: center;
      display: block;
      float: none;
      button {
        margin: 0 20px;
      }
    }
  }
}

.jconfirm.invoice-copy{
  .container {
    width: 390px;
  }
}

.jconfirm.no-overflow {
  .jconfirm-content {
    overflow: hidden !important;
  }
}

.jconfirm.notes {
  .container {
    width: 500px !important;
  }
}
