$mobile: "only screen and (max-width: 640px)";
$desktop: "only screen and (min-width: 641px)";

$root-font-size: 16px;
$font-color: #444;

$icon-color: #c4c4c4;
$primary-color: #651296;
$secondary-color: #ffbe3c;
$html-background-color: #d9d9d9;
$toolbar_height: 56px;

$transition-time: .25s;

$client_element_height: 300px;
$invoice-card-height: 300px;
$service-card-height: 300px;
$container-width: 1275px;
$personal_width: 295px;
