html, body{
    font-family: Arial, Helvetica, sans-serif;
}

select{
    font-size:large;    
}

h1{
    background-color:#EEEEE0;    
    padding: 20px;
    margin:0 0 2.5% 0;
    font-size: larger;    
    box-shadow: 0 1.5px #ffad09;    
}

h1 img{
    display: inline-block;
    height: 46px;
    vertical-align: middle;
    margin-right: 10px;
}


.noChecked{
    color:#EEEEE0;    
}

.face_button{
    background-image:url('../images/ic_star.png');    
    border: aliceblue;
    padding: 24px 24px; 
    background-repeat:no-repeat;
    text-align: center;
}

.checked{
    background-image:url('../images/ic_star_checked.png');    
    border: aliceblue;
    padding: 24px 24px; 
    background-repeat:no-repeat;
    text-align: center;
}

.star{
    font-size:-webkit-xxx-large; 
    text-align:center; 
    width:100%;
    margin-top:2.5%;     
}

.observacao{
    font-size:11.5px;
    margin-top: 5px;
}

@media (max-width: 900px){
    .star div{
        display:block;        
     }
     
     div{
         display:block;
     }
     
     .star span{
         padding:0 0 0 0;
     }
     
     .jsElements{
         text-align:center
     }
     
     #js-selectOp,  #js-selectEps{
        margin-top: 10px;
        width: 326px;
    }    

    #js-textArea{        
        margin-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size:large;
        width:320px;           
    }    

    .botao{
        vertical-align:middle;
        transition:.25s;
        font-size:16px;
        background: #ffad09;
        border-radius:4px;
        box-shadow: 0 0;
        height: 41px;
        color:aliceblue;
        border:none;
        box-sizing:border-box;
        margin-top: 40px; 
        margin-left:365px;
        
    } 
    
    .observacao{       
        margin-top: 6px;     
     }  
} 

@media (min-width: 901px){
    #js-selectOp,  #js-selectEps{
       width:325px;
       margin-top: 20px;
       margin-left: 689px;
    } 

    #js-textArea{
        width:317px;
        margin-top: 20px;
        margin-left: 689px;
        font-size:large;
    }   
    

    .botao{
        vertical-align:middle;
        transition:.25s;
        font-size:16px;
        background: #ffad09;
        border-radius:4px;
        box-shadow: 0 0;
        height: 41px;
        color:aliceblue;
        border:none;
        box-sizing:border-box;
        margin:40px 0 0 940px;
    }

    .observacao{
        margin-top: 5px;
        margin-left: 689px;
    }
    
}

