$margin-right: .85%;

.l-row {
  padding: 0;
  margin: 0 auto;
  font-size: 0;
}

.l-row > * {
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-right: $margin-right;
}

.l-row > *:last-child {
  margin-right: 0;
}

.l-12-12 {
  width: 100%;
}

.l-11-12 {
  width: 100% / 12 * 11 - ($margin-right / 12 * 1);
}

.l-10-12 {
  width: 100% / 12 * 10 - ($margin-right / 12 * 2);
}

.l-9-12 {
  width: 100% / 12 * 9 - ($margin-right / 12 * 3);
}

.l-8-12 {
  width: 100% / 12 * 8 - ($margin-right / 12 * 4);
}

.l-7-12 {
  width: 100% / 12 * 7 - ($margin-right / 12 * 5);
}

.l-6-12 {
  width: 100% / 12 * 6 - ($margin-right / 12 * 6);
}

.l-5-12 {
  width: 100% / 12 * 5 - ($margin-right / 12 * 7);
}

.l-4-12 {
  width: 100% / 12 * 4 - ($margin-right / 12 * 8);
}

.l-3-12 {
  width: 100% / 12 * 3 - ($margin-right / 12 * 9);
}

.l-2-12 {
  width: 100% / 12 * 2 - ($margin-right / 12 * 10);
}

.l-1-12 {
  width: 100% / 12 * 1 - ($margin-right / 12 * 11);
}

.l-last {
  margin-right: 0 !important;
}

// Customizations

.l-6-5-12 {
  width: 100% / 12 * 6.5 - ($margin-right / 12 * 5.5);
}

.l-2-5-12 {
  width: 100% / 12 * 2.5 - ($margin-right / 12 * 9.5);
}
