/* positions ---------------------------------------------------------------------------------------------------------*/
.l-relative {
  position: relative;
}

.l-absolute {
  position: absolute;
}

/* alignments --------------------------------------------------------------------------------------------------------*/
.l-block-center {
  margin-left: auto;
  margin-right: auto;
}

.l-inline-center {
  text-align: center;
}

.l-inline-right {
  text-align: right !important;
}

.l-inline-left {
  text-align: left !important;
}

.l-height-100 {
  height: 100%;
}

.l-height-100vh {
  height: 100vh;
}

.l-width-100 {
  width: 100%;
}

.l-width-100vw {
  width: 100vw;
}

.l-float-right {
  float: right;
}

.l-container {
  margin: auto;
  width: $container-width;
  padding: 0 30px;
}

/* text --------------------------------------------------------------------------------------------------------*/
.l-text-thin {
  font-weight: 300;
}

.l-text-normal {
  font-weight: normal;
}

.l-text-discreet {
  color: #777;
  fill: #777;
}

.l-text-small {
  font-size: .8em !important;
}

.l-text-big {
  font-size: 1.1em !important;
}

.l-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* margin properties -------------------------------------------------------------------------------------------------*/
.l-margin-0 {
  margin: 0;
}

.l-margin-5 {
  margin: 5px;
}

.l-margin-10 {
  margin: 10px;
}

.l-margin-15 {
  margin: 15px;
}

.l-margin-30 {
  margin: 30px;
}

/* padding properties ------------------------------------------------------------------------------------------------*/
.l-pad-0 {
  padding: 0;
}

.l-pad-5 {
  padding: 5px;
}

.l-pad-10 {
  padding: 10px;
}

.l-pad-15 {
  padding: 15px;
}

.l-pad-30 {
  padding: 30px;
}

/* display properties ------------------------------------------------------------------------------------------------*/
.l-block {
  display: block;
}

.l-inline {
  display: inline;
}

.l-inline-block {
  display: inline-block;
}

/* miscellaneous -----------------------------------------------------------------------------------------------------*/
.l-overflow-hidden {
  overflow: hidden;
}

.l-list-clean {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.l-link-clean {
  text-decoration: none !important;
  &:link, &:visited {
    color: inherit;
  }
}

.l-clickable {
  cursor: pointer;
}

/* Your customizations -----------------------------------------------------------------------------------------------*/
.l-title-flat {
  $color: #555;
  color: $color;
  fill: $color;
  font-weight: bold;
  margin-bottom: .5em;
  font-size: 1.25rem;
}

.l-no-pointer-events {
  pointer-events: none;
}

.l-text-highlight {
  color: #bd00c8;
  font-weight: 500;
}

.l-clearfix {
  &:before, &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.l-field {
  @extend .l-clearfix;
  border-bottom: 1px solid #ddd;
  &.isGreen {
    border-bottom: 2px solid #00b40a !important;
  }
  &.isYellow {
    border-bottom: 2px solid #ffa200 !important;
  }
  &.isRed {
    border-bottom: 2px solid red !important;
  }
}

.l-error {
  color: #e0282a;
}

.l-pad-height-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#osTable {
  height: 274px;
}

#osTable thead {
  line-height: 1;
}

#headerGeneralInfo {
  position: relative;
  top: 0;
  left: 23%;
}

#invoicesRow {
  font-size: 0;
}

#invoicesClient {
  width: $personal_width;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

#invoicesData {
  width: $container-width - $personal_width - 10px - 60px;
  display: inline-block;
  vertical-align: top;
  font-size: $root-font-size * 1.025;
}

#siebelInvoiceContainer {
  min-height: $invoice-card-height;
  .l-not-sibel-field {
    display: none;
  }
  .l-siebel-field {
    display: table-cell;
  }
  @at-root {
    .l-siebel-field {
      display: none;
    }
  }
}
