$automatorLeftColumn: 295px;

.automatorColLeft {
  float: left;
  width: $automatorLeftColumn;

  .automatorButtons {
    padding: 1px;

    a {
      background-color: #b68dce;
      color: #ffffff;
      cursor: default;
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 7px;
      margin: 2px;
      font-size: 14px;

      &.isActive {
        background-color: $primary-color;
        cursor: pointer;
      }
    }
  }
}

.automatorColRight {
  margin-left: $automatorLeftColumn + 10;
  top: 57px;
  height: 590px;
  padding: 20px;
  position: relative;

  .contentWrapper {
    display: none;
    height: 100%;
    overflow: auto;

    &.show {
      display: block;
    }

    .loading-data {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title {
      margin: 0;
      font-size: 22px;
      color: $primary-color
    }

    .dataWrapper {
      .stc-data {
        display: none;
        margin-top: 20px;

        &.isVisible {
          display: block;
        }

        .campanha {
          margin-bottom: 30px;
        }

        p {
          margin: 0;
          font-size: 14px;
          padding: 3px;
          border-bottom: 1px solid #ccc;
          font-weight: bold;

          .value {
            font-weight: 200;
          }

          .items {
            font-size: 12px;
            padding: 3px 0;
            display: block;
            font-weight: 200;
            border-top: 1px dashed #ddd
          }
        }
      }
    }
  }

  .loginWrapper {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px 20px;
    border: 1px solid #ccc;
    text-align: right;

    &.show {
      display: block;
    }

    .title {
      margin: 0 0 15px 0;
      text-align: left;
    }

    .fieldsCntr {
      margin-bottom: 5px;

      label {
        display: inline-block;
        padding: 5px;
        width: 70px;
      }

      input {
        background-color: #ccc;
        padding: 10px;
        border: 0;
        font-size: 14px;
      }
    }

    button {
      border: 0;
      background-color: #f2f2f2;
      color: $font-color;
      padding: 10px 20px;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

#automatorClient {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

#automatorClient .client--personal {
  height: 280px;
}

.automator {
  @extend .card;
  padding-bottom: 15px;
}

.automatorButtons {
  margin-top: 10px;
  width: 100%;
}
