.chip {
  background: #969696;
  border-radius: 4em;
  padding: .2em .6em;
  color: white;
  margin-left: .75em;

  &.isYellow {
    background: #ffa200;
  }

  &.isRed {
    background: #d42c29;
  }

}
