.client {
  @extend .card;
  position: relative;
  font-size: 0;
}

.client-section .icon {
  display: inline-block !important;
}

.client--personal {
  width: $personal_width;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}

.client--personal--data {
  position: absolute;
  width: $personal_width;
  bottom: 5px;
}

.client--general {
  font-size: 1rem;
  width: 805px - $personal_width;
  height: $client_element_height;
  display: inline-block;
  vertical-align: top;
  background: #f8f8f8;
  box-shadow: 11px 0 10px -10px rgba(0,0,0,.7) inset;
  position: relative;
}

.client--general--header {
  margin: 10px 15px 8px;
  color: #999;
  font-size: 1rem;
}

.client--general--infos {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  padding: 0 10px;
}

.client--general--plan {
  margin: 5px 0 5px 15px;
  font-style: italic;
}

.client--general--group {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.client--name {
  font-size: 18px;
  margin: 18px 0;
  font-weight: bold;
}

//TODO: Fix Hacky (Shame on you mr Quack ¯\_(ツ)_/¯)
.js-page-invoices .client--personal {
  height: $invoice-card-height;
}

.js-page-invoices .client--personal--data {
  left: 0;
  right: 0;
}

.js-page-services .client--personal {
  height: $invoice-card-height;
}

.js-page-services .client--personal--data {
  left: 0;
  right: 0;
}
