.dash {
  @extend .card;
  padding-bottom: 15px;
  height: $client_element_height;
}

.dash--header {
  background: #F3F3F3;
  text-align: left;
  overflow: hidden;
  font-size: .975rem;
  color: #666;
}

.dash--header--smiley {
  @extend .icon;
  height: 1.8em !important;
  width: 1.8em !important;
  margin: 10px;
  display: inline-block;
}

.dash--header--derivative {
  @extend .l-field;
  display: inline-block;
  padding: 0 1px;
  vertical-align: middle;
  border-width: 2px !important;
}

.dash--content {
  margin-top: 10px;
}

.dash--indicator {
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  font-family: Arial, sans-serif;
}

.dash--indicator--number {
  $size: 3.6rem;
  background: #efefef;
  font-size: 1.5rem;
  font-weight: lighter;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 100%;
  color: #777;
  margin: 0 3px;
  display: block;
}

.dash--indicator--label {
  display: block;
  font-size: .65rem;
  font-weight: bold;
  margin-top: 8px;
}

.dash--thermometers {
  text-align: center;
}

%dash--thermometer {
  display: inline-block;
  > div {
    position: relative;
    display: inline-block;
    padding: 10px 10px 5px;
    min-height: 110px;
    min-width: 110px;
  }
}

.dash--thermometer-left {
  @extend %dash--thermometer;
}

.dash--thermometer-right {
  @extend %dash--thermometer;
}

.dash--thermometer--data {
  top: 49px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}

.dash--thermometer--data--label {
  font-weight: bold;
  font-size: 14px;
}

.dash--thermometer--data--value {
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
}

.dash--thermometer--fallback {
  width: 110px;
  height: 110px;
}
