.form {
  .jsInput {
    display: none;
  }
}

.form--select {}

.form--button {}

.form--radio {
  margin: 0 10px 0 0;
  outline: none;
  vertical-align: middle;
  &:checked + * {
    font-weight: bold;
    vertical-align: middle;
  }
}

.form--no-spin {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.form--text-area {
  resize: none;
}
