.full-element {
  @extend .e-fade;
  position: absolute;
  font-size: 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  text-align: center;
  pointer-events: none;
  &.isVisible {
    pointer-events: initial;
  }
}

.full-element--centered {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%)
}

.full-element--icon {
  @extend .icon, .full-element--centered;
  $size: 60px;
  width: $size !important;
  height: $size !important;
  left: 50%;
  margin-left: $size / 2 * -1;
  margin-top: $size / 2 * -1;
  fill: #007972;
  transform: none !important;
}
