/*
  [data-tooltip]::before -> Tooltip itself
  [data-tooltip]::after  => Tooltip Arrow
*/
$tooltip-background: #323232;
$tooltip-arrow-size: 10px;
$transition-time: .25s;

[data-tooltip] {  
  position: relative; 
}

%tooltip-default {
  &::before {
    //position: absolute;
    //display: inline-block;
    //will-change: transform, opacity;
    visibility: visible;
    transition: $transition-time;
    opacity: 0;
    background: $tooltip-background;
    border-radius: 2px;
    color: white;
    content: attr(data-tooltip);
    font-weight: 400;
    padding: .5em 1em;
    //white-space: nowrap;
    z-index: 10000;
    transition-delay: .25s;
    height: auto;
    font-size:small;
  }
}

[data-tooltip].tooltip-up {
    &:hover,&:focus{
    &::before {
       @extend %tooltip-default;
       text-align: center;
       margin-bottom: $tooltip-arrow-size;
       bottom: 100%;
       left: 50%;
       transform: translateX(-50%);
       opacity: 1;
       visibility: visible;          
    }
  }
}

