$massive-header-background: #F3F3F3;

.massive-failure {
  @extend .card;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 274px;
  font-size: .9rem;  
}

.massive-failure--header {
  background: $massive-header-background;
  text-align: center;
}

.massive-failure--product {
  display: inline-block;
  font-size: 1.4rem;
  margin: 1rem;
  color: #777;
  fill: #444;
}

.massive-failure--content {
  padding: 0 10px;
}

.massive-failure--content--item {
  margin: 5px 0;
}

.massive-failure--icon {
  @extend .icon;
  width: 50px !important;
  height: 50px !important;
  margin-top: 10px !important;
}

.massive-failure--alert {
  color: #fff;
  padding: 10px;
  background: $massive-header-background;
  min-height: 20px;
  margin-bottom: 20px;
  display: block !important;
  > * {
    display: none;
  }
  &.isVisible {
    margin-bottom: 0;
    background: #DF5356;
    > * {
      display: inline-block;
    }
  }
}
