.table {
  width: 100%;
  border-collapse: collapse;
  fill: #444;
  line-height: 1.5;
}

.tableSerive {
  width: 100%;
  border-collapse: collapse;
  fill: #444;
  height:100%;
}

.table th {
  @extend .l-text-discreet;
  font-weight: bold;
  padding: 15px 6px 10px 6px;
  border-bottom: 2px solid #f0f0f0;
}

.table td {
  padding: 17px 6px;
}

.table tbody tr:nth-child(odd) {
  background: #f6f6f6;
}

.table tbody td {
  border-bottom: 1px solid #eee;
  font-size: 1em;
  text-align: center;
}

.table-vertical {
  @extend .table;
  tbody td {
    border-bottom: none;
    border-right: 1px solid #eee;
  }
}

.table-condensed {
  @extend .table;
  th {
    padding: 10px 6px 10px 6px !important;
  }
  td {
    padding: 10px 5px !important;
  }
}

.table--border-right {
  border-right: 1px solid #ccc;
}

.table-addon {
  @extend .table;
  th,td  {
    font-size: 16px !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  td {
    font-size: 14px !important;
  }
}

.table-invoices td {
  padding: 14px 6px;
}
