$toolbar-search-padding-height: 10px;
$toolbar-search-height: 41px;
$side-padding: 18px;

.toolbar {
  background: $primary-color;
  padding: 10px 0;
  font-size: 1.4 * $root-font-size;
  color: #fff;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.35);
}

.toolbar--logo {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.toolbar--content {
  @extend .l-container;
  font-size: 0;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.toolbar--center {
  float: left;
  width: 34.5%;
  font-size: 1.2 * $root-font-size;
  vertical-align: middle;
  text-align: center;
  height: 50px;
  z-index: 1;
  color: #fcff35;
  padding: 0 20px;
}

.toolbar--center.minified {
  width: 28%;
}

.toolbar--left {
  float: left;
  display: inline-block;
  /*width: 25%;*/
  font-size: 1.4 * $root-font-size;
}

.toolbar--right {
  display: inline-block;
  text-align: right;
  float: right;
  //width: 45.66%;
  font-size: 1.4 * $root-font-size;
  margin-top: 3px;
}

%toolbar--fields {
  vertical-align: middle;
  transition: .25s;
  outline: none;
  font-size: 1 * $root-font-size;
  border-radius: 4px;
  box-shadow: 0 0;
  height: 41px;
  &:focus,&:hover {
    box-shadow: 0 2px 2px rgba(0,0,0,.75);
  }
}

.toolbar--search {
  @extend %toolbar--fields;
  width: 160px;
  will-change: background;
  border: none;
  background: lighten($primary-color, 15%);
  padding: $toolbar-search-padding-height $side-padding;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::placeholder {
    color: lighten($primary-color, 55%);
  }
  &:focus,&:hover {
    box-shadow: 0 2px 2px rgba(0,0,0,.75);
    background: white;
    color: #555;
  }
  &:focus::placeholder,&:hover::placeholder {
    color: #999;
  }
}

.toolbar--submit {
  @extend %toolbar--fields;
  background: darken($secondary-color, 10%);
  &:focus,&:hover {
    background: $secondary-color;
  }
  * {
    vertical-align: middle;
  }
  .icon--text {
    margin-left: .25ch !important;
  }
}

.toolbar--search--description {
  display: inline-block;
  font-size: .85 * $root-font-size;
  vertical-align: middle;
  font-weight: 500;
  margin-right: 5px;
}

.toolbar--actions {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}

.toolbar--action {
  font-size: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.125;
  margin-right: 7px;
  padding: 6px 10px;
  border-radius: 5px;
  background: lighten($primary-color, 15%);
  outline: none;
}

.toolbar--action--icon {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.toolbar--action--title {
  display: block;
}
