:root {
  font-size: $root-font-size;
  line-height: 1.5;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  background: $html-background-color;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin: 0;
  color: $font-color;
  
}

body {
  padding-bottom: 15px;
  overflow-y: scroll;
}


input, textarea, select, button {
  color: inherit;
  font-family: inherit;
}

hr {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #E8E8E8;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: underline;
}

img {
  display: block;
}

/* Your customizations -----------------------------------------------------------------------------------------------*/
input {
  padding: 3px;
}

button, input[type=submit] {
  background-color: #e1e1e1;
  border: none;
}

[hidden] {
  display: none !important;
}

dom-if, dom-repeat {
  display: none !important;
}

[data-src] {
  display: none;
}
